// bower:scss
// endbower
@font-face {
  font-family: helveticaLTS;
  src: url('../fonts/HelveticaLTStd-Roman.otf');
}

@font-face {
  font-family: helveticaLTS;
  font-weight: bold;
  src: url('../fonts/HelveticaLTStd-Bold.otf');
}

html {
  height: 100%;
  width: 100%;
}
body {
  background-color: #0a96d3;
  font-family: helveticaLTS;
  height: 100%;
  width: 100%;
}
body * {
  font-family: helveticaLTS;
}
.view {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
.view-container {
  height: 100%;
  padding: 0;
}
.home {
  height: 100%;
  width: 100%;
  align-content: center;
  position: fixed;
  top: 0;
}
.home .logo {
  background-image: url('../images/logo_up.png');
  background-position: center center;
  background-repeat:no-repeat;
  background-size: contain;
  height: 25%;
  margin-top: 42%;
  width: 100%;
}
.home p {
  color: #fff;
  font-family: helveticaLTS;
  font-size: 22.5px;
  font-weight: bold;
  margin-top: 5%;
  text-align: center;
  text-transform: uppercase;
}
.btn.primary-btn {
  background-color: #ccc;
  border-color: #333;
  bottom: 15%;
  font-size: 15.5px;
  height: 37.5px;
  width: 115px;
}
.btn.iniciar {
  display: none;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  position: absolute;
}
h1{
  font-size: 80px;
  margin-left: 20px;
  margin-top: 10px;
}
h2{
  font-size: 25px;
  margin-left: 10px;
  margin-top: 5px;
}
h3{
  font-size: 45px;
  margin-left: 10px;
  margin-top: 10px;
}
.login .form {
  color: #333740;
  margin-top: 55%;
}
.login input {
  color: #333740;
  border-width: 1px;
  font-size: 21px;
  height: 46px;
  margin-left: 6%;
  margin-bottom: 7%;
  padding-left: 42px;
  width: 88%;
}
.login input.user {
  background-image: url('../images/user.png');
  background-position: 6px;
  background-repeat: no-repeat ;
  background-size: 30px;
}
.login input.mail {
  background-image: url('../images/lock.png');
  background-position: 6px;
  background-repeat: no-repeat ;
  background-size: 30px;
}
.login input:focus {
  background-color: #f8c000;
}
.login .form .btn {
  background-color: #f8c000;
  border: none;
  border-radius: 2px;
  box-shadow: none;
  color: #333740;
  font-size: 26px;
  height: 47px;
  margin-left: 6%;
  margin-top: 5%;
  padding: 4px 10px;
  text-transform: uppercase;
  width: 88%;
}
.login .error-message {
  color: #660000;
  font-weight: bold;
  height: 30px;
  text-align: center;
  width: 100%;
}

.mesas {
  height: 100%;
  padding: 0;
}
.mesas .head {
  color: #fff;
  height: 10%;
  min-height: 61.5px;
  padding-left: 10%;
  padding-top: 4%;
  text-transform: uppercase;
}
.mesas .head .encabezado-mesas{
  font-size: 23px;
  letter-spacing: 1px;
  text-align: center;
  width: 100%;
}
.mesas main {
  background: #fff;
  height: 90%;
  padding-left: 10%;
}
.mesas main h2 {
  color: #0a96d3;
  margin: 0;
  margin-top: 12%;
}
.contenedor-mesas {
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 40%;
  position: absolute;
}
.mesas .contenedor-mesas .mesa-btn {
  background-color: #0a96d3;
  border: none;
  border-radius: 1px;
  color: #fff;
  font-size: 25px;
  height: 50px;
  margin-bottom: 6%;
  width: 100%;
}
.carga {
  height: 100%;
  padding: 0;
}
.carga .head {
  color: #fff;
  height: 10%;
  font-weight: bold;
  min-height: 61.5px;
  padding-left: 10%;
  padding-top: 4%;
}
.carga .head .mesa-head{
  font-size: 23px;
  letter-spacing: 1px;
  text-align: center;
  width: 100%;
}
.carga .header {
  margin-bottom: 15%;
  width: 100%;
}
.carga .datos {
  background: #fff;
  height: 90%;
}
.carga .datos .banner-lista {
  display: inline-block;
  height: 15%;
  width: 100%;
}
.carga .datos .banner-lista div {
  display: inline-block;
}
.carga .datos .banner-lista .numero-lista-wrapper{
  border-right: 1.5px solid #0a96d3;
  height: 70%;
  margin-top: 8%;
  padding-right: 3%;
  padding-top: 4%;
  text-align: right;
  vertical-align: top;
  width: 40%;
}
.carga .datos .banner-lista .numero-lista{
  color: #0a96d3;
  font-size: 25px;
  font-weight: bold;
}
.carga .datos .banner-lista .logo-lista{
  background-position: center center;
  background-repeat:no-repeat;
  background-size: contain;
  color: #0a96d3;
  font-size: 25px;
  font-weight: bold;
  height: 80%;
  margin-top: 7%;
  text-align: center;
  vertical-align: middle;
  width: 50%;
}
.carga .datos .banner-lista .logo-lista.texto{
  margin-top: 12%;
}
.carga .datos .banner-lista .logo-lista.logo-img-pro{
  background-image: url('../images/lista_vamos_juntos.png');
}
.carga .datos .banner-lista .logo-lista.logo-img-up{
  background-image: url('../images/lista_unidad_port.png');
}
.carga .datos .banner-lista .logo-lista.logo-img-1p{
  background-image: url('../images/lista_1_pais.png');
}
.carga .datos .banner-lista .logo-lista.logo-img-ec{
  background-image: url('../images/lista_evolucion.png');
}
.carga .datos .diputados,
.carga .datos .legisladores {
  display: inline-block;
  margin-left: 8%;
  margin-top: 12%;
  width: 80%;
}
.carga .datos label {
  font-size: 22.5px;
  font-weight: normal;
  margin-right: 8%;
  width: 40%;
}
.carga .datos input {
  background: #b2b2b2;
  border: none;
  border-radius: 2px;
  font-size: 30px;
  height: 80%;
  margin-left: 2%;
  padding-right: 3%;
  text-align: right;
  width: 40%;
}
.carga .datos .boton {
  display: inline-flex;
  margin-top: 15%;
}
.carga .datos .boton.container {
  width: 100%;
}
.carga .datos .boton button {
  background-color: #0a96d3;
  border: none;
  border-radius: 1px;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
}
.confirmacion {
  height: 100%;
  padding: 0;
}
.confirmacion .head {
  color: #fff;
  height: 10%;
  font-weight: bold;
  min-height: 61.5px;
  padding-left: 10%;
  padding-top: 4%;
}
.confirmacion .head h1{
  font-size: 23px;
  letter-spacing: 1px;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
}
.confirmacion main {
  background: #fff;
  background-image: url('../images/logo_up.png');
  background-position: 170% 135%;
  background-repeat:no-repeat;
  height: 90%;
}
.recuento {
  margin-right: 10%;
  margin-bottom: 7%;
  margin-left: 10%;
  padding-top: 10%;
}
.recuento .encabezado span {
  border: none;
  color: #0a96d3;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.recuento .detalle {
  background-color: #e3e3e3;
  color: #333740;
  height: 10%;
}
.recuento .detalle span{
  padding-top: 3%;
  padding-bottom: 3%;
}
.recuento .detalle .nom-fuerza {
  font-size: 18px;
}
.recuento .detalle .votos {
  border-left: 1px solid #333740;
  font-size: 40px;
  text-align: right;
}
.recuento .detalle.par {
  background-color: #b2b2b2;
}
.confirmacion .boton.container {
  width: 100%;
}
.confirmacion .boton {
  display: inline-flex;
  padding: 0;
}
.confirmacion .boton button {
  background-color: #0a96d3;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  width: 130px;
}
.confirmacion .boton button.corregir {
  background-color: #e3e3e3;
  color: #666;
}
.confirmacion .mensaje-confirmacion {
  color: #fff;
  font-size: 20px;
  height: 30px;
  margin-top: 10px;
  text-align: center;
  width: 100%;
  &.ok {
    background: green;
  }
  &.error{
    background: #aa0000;
  }
}
.resultados {
  height: 100%;
  padding: 0;
}
.resultados .header {
  color: #fff;
  height: 10%;
  font-weight: bold;
  min-height: 61.5px;
  padding-left: 10%;
  padding-top: 4%;
}
.resultados .header h1{
  font-size: 23px;
  letter-spacing: 1px;
  margin-left: 0;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
}
.resultados main {
  background-color: #fff;
  height: 90%;
}
.porcentajes {
  padding-top: 8%;
}
.porcentajes .encabezado {
  margin-bottom: 5%;
}
.porcentajes .encabezado span {
  color: #0a96d3;
  font-size: 22.5px;
  font-weight: bold;
  text-transform: uppercase;
}
.porcentajes .detalle {
  margin-bottom: 5%;
  text-align: right;
}
.porcentajes .detalle .fuerza {
  font-size: 16px;
  line-height: 14.5px;
}
.porcentajes .barra {
  font-size: 16.5px;
  font-weight: bold;
  height: 28.5px;
}
