<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Encuestas</title>
  <!-- <script type="text/javascript" src="js/lib/templater.js"></script>
  <script type="text/javascript" src="js/lib/router.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script> -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
  <script data-main="js/app" src="js/lib/require.js"></script>
  <script type="text/html" id="home">
    <a class="iniciar btn primary-btn" href="#/login">Iniciar</a>
  </script>
  <script type="text/html" id="mesas"> </script>
  <script type="text/html" id="carga"> </script>
  <script type="text/html" id="confirmacion"> </script>
  <script type="text/html" id="resultados"> </script>
  <script type="text/html" id="login">
    <section class="login">
      <h1>Ingreso</h1>
      <form class="form">
        <input type="email" placeholder="Direccion de email" required/>
        <input type="password" placeholder="Contraseña" />
        <br />
        <a class="iniciar btn primary-btn" href="#/mesas">Ingresar</a>
        <!--<button type="submit">Ingresar</button>-->
      </form>
    </section>
  </script>
  <script type="text/html" id="template1">
    <h1>Page 1: <%= greeting %></h1>
    <p><%= moreText %></p>
  </script>
</head>
<body>

    <div id="view"></div>

</body>
</html>
