<div class="container-fluid carga" ng-show="partido">
  <header class="container-fluid head">
    <span class="mesa-head">Mesa N° <span class="num-mesa">{{mesa}}</span></span>
  </header>
  <main class="container-fluid datos">
    <div class="banner-lista">
      <div class="numero-lista-wrapper">
        <span class="numero-lista" ng-if="partido.lista > 3" >{{lista}}</span>
      </div>
      <div class="logo-lista"
           ng-class="{
           'logo-img-ayl': partido.lista == 187,
           'logo-img-up': partido.lista == 501,
           'logo-img-pro': partido.lista == 502,
           'logo-img-ec': partido.lista == 503,
           'logo-img-fit': partido.lista == 505,
           'logo-img-1p': partido.lista == 507,
           'texto': nombre
           }">
        {{nombre}}
      </div>
    </div>
    <form ng-submit="agregarDatos($event)">
      <div class="diputados">
        <label>Diputados</label>
        <input type="number" id="diputados" ng-model="votos.diputados">
      </div>
      <div class="legisladores">
        <label>Legisladores</label>
        <input type="number" id="legisladores" ng-model="votos.legisladores">
      </div>
      <div class="boton container">
        <button type="submit" name="button" class="btn primary-btn siguiente">Seguir</button>
      </div>
    </form>
  </main>
</div>
